.pointer {
    cursor: pointer;
}
.center {
    text-align: center;
}

.padding20 {
    padding: 20px;
}

.marginBottom24 {
    margin-bottom: 24px;
}

.textCenter {
    text-align: center
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: "";
    display: block;
    height : 0;
    clear  : both;
}

.btn {
    &:not(:last-child) {
        margin-right: 8px;
    }
}

.orange {
    color: orange;
}
.bold {
    font-weight: bold;
}


.footerBox {
    margin-top: 10px;
    .pages {
        float: right;
    }
}
.footerBox:after {
    content: "";
    display: block;
    height : 0;
    clear  : both;
}